
@{
    ViewData["Title"] = "Delete";
}

    <div class="text-center">
        <h1 class="display-4">Delete</h1>



        <form asp-area="Admin" asp-controller="Topics" asp-action="Delete" method="post">
            
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>

    </div>


